:root {
  --blue: #004ca3;
  --darkBlue: #003a7c;
  --white: #eff6ff;
  --lighBlue: #e6f1ff;

  /* new colors */

  --black: #000000;
  --light-white: #fffdfc;
  --light-grey: #f5f3f2;
}

.aboutContainer {
  max-width: 1200px;
  margin: 4rem auto;
  padding-left: 16px;
  padding-right: 16px;
}

.aboutContainer h1 {
  font-size: 2.5rem;
}

.aboutContainer h2 {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.crewPhoto {
  border-radius: 8px;
  margin-bottom: 3rem;
}

/* services */
.servicesContainer {
  max-width: 1200px;
  margin-inline: auto;
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  background-color: var(--lighBlue);
  border-radius: 8px;
}

.servicesContainer h2 {
  font-size: 1.9rem;
}

.servicesGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.serviceCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 8px;
}

.servicesIcons {
  width: 30px;
  height: 30px;
}

.serviceCard h3 {
  margin-bottom: 0;
  font-size: 1rem;
  text-align: center;
}

.callToActionDiv {
  margin-top: 2rem;
  max-width: 1200px;
  margin-inline: auto;
  margin-bottom: 4rem;
  padding: 32px 16px;
  background-color: var(--darkBlue);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background: linear-gradient(
    to right,
    rgb(0, 82, 212),
    rgb(67, 100, 247),
    rgb(111, 177, 252)
  );
}

.callToActionDiv h3 {
  color: var(--white);
  font-size: 1.3rem;
}

.callToActionDiv p {
  color: var(--white);
  font-size: 1.1rem;
}

.callToActionBtn {
  border: 0;
  background-color: var(--white);
  color: #003a7c;
  border-radius: 8px;
  padding: 5px 10px;
  font-weight: 700;
}

@media only screen and (min-width: 48em) {
  .servicesTitle {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .servicesGrid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .serviceCard {
    flex-direction: column;
  }

  .servicesIcons {
    width: 50px;
    height: 50px;
  }

  .serviceCard h3 {
    font-size: 1.2rem;
  }

  /* call to action */

  .callToActionDiv h3 {
    font-size: 1.4rem;
  }

  .callToActionDiv p {
    font-size: 1.2rem;
  }

  .callToActionBtn {
    border: 0;
    background-color: var(--white);
    color: #003a7c;
    border-radius: 8px;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 1.2rem;
  }
}
