:root {
  --blue: #004ca3;
  --darkBlue: #003a7c;
  --white: #eff6ff;
  --lighBlue: #e6f1ff;

   /* new colors */

   --black: #000000;
   --light-white: #fffdfc;
    /* --light-grey: #f5f3f2; */
  --light-grey: #ffffff;
}
.pageTitle {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 4rem;
}

.blogContainer {
  max-width: 1200px;
  margin: 4rem auto;
  padding-inline: 32px 16px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.blogPosts {
  display: flex;
  flex-direction: column;
}

.blogPostsImage {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.blogPostsContent {
  margin-top: 10px;
}

.continueReading {
  margin-left: 2px;
  text-decoration: underline;
}

@media only screen and (min-width: 48em) {
  .blogContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 54em) {
  .blogContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
