:root {
  --blue: #004ca3;
  --darkBlue: #003a7c;
  --white: #eff6ff;
  --lighBlue: #e6f1ff;

  /* new colors */

  --black: #000000;
  --light-white: #fffdfc;
  /* --light-grey: #f5f3f2; */
  --light-grey: #ffffff;
}

.heroContainer {
  max-width: 1200px;
  margin-inline: auto;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 20px;
}

.heroImageContainer {
  display: none;
}

.heroImage {
  display: block;
  width: 100%;
  border-radius: 8px;
}

.heroContextDiv {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
}

.heroContextDiv h1 {
  font-size: 2.2rem;
  margin-bottom: 0px;
}

.heroButtonContainer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.servicesButon {
  border: 1px solid var(--blue);
  background-color: var(--blue);
  color: var(--lighBlue);
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
}

.servicesButon:hover {
  background-color: var(--darkBlue);
}

.heroButtonContainer a,
button {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.heroButtonContainer a {
  padding: 10px 20px;
  border: 1px solid var(--darkBlue);
  border-radius: 8px;
  color: var(--darkBlue);
}

.heroButtonContainer a:hover {
  color: var(--darkBlue);
}

/* Text Content */

.textContent {
  max-width: 1200px;
  margin-inline: auto;
  padding: 32px 32px;
  background: linear-gradient(to right, rgb(5, 117, 230), rgb(2, 27, 121));
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.textContent img {
  width: 100%;
}

.textContent h3 {
  color: var(--white);
  font-size: 1.3rem;
}

.textContent p {
  color: var(--white);
  font-size: 1.1rem;
  line-height: 1.65;
}

/* Services Section */

.servicesContainer {
  max-width: 1200px;
  margin-inline: auto;
  padding: 16px 32px 32px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-grey);
  border-radius: 8px;
  gap: 10px;
}

.servicesContainer h2 {
  font-size: 1.8rem;
  margin-top: 0;
}

.servicesGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.serviceCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 12px;
  border: 1px solid var(--black);
  border-radius: 8px;

  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.servicesIcons {
  width: 50px;
  height: 50px;
}

.serviceCard h3 {
  font-size: 1.4rem;
}

.serviceCard p {
  line-height: 1.65;
  text-align: center;
}

.contactIconsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.quickActionLinks {
  background-color: var(--light-grey);
  padding: 10px 10px;
  border: 1px solid var(--black);
  border-radius: 50%;
}

.quickActionLinks:hover {
  background-color: var(--lighBlue);
}

.quickCall,
.quickMail {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

/* Call to Action */

.callToAction {
  max-width: 1200px;
  margin-inline: auto;
  padding: 32px 32px;
  background: linear-gradient(
    to right,
    rgb(0, 82, 212),
    rgb(67, 100, 247),
    rgb(111, 177, 252)
  );

  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.callToActionContext {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.callToAction h3 {
  color: var(--white);
  font-size: 1.3rem;
}

.callToAction p {
  color: var(--white);
  font-size: 1.1rem;
  line-height: 1.65;
}

.contactBtn {
  border: 0;
  background-color: var(--white);
  color: var(--blue);
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 1.1rem;
  cursor: pointer;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactBtn:hover {
  color: var(--darkBlue);
}

@media only screen and (min-width: 48em) {
  .heroContainer {
    padding: 16px 16px;
    flex-direction: row-reverse;
    gap: 30px;
  }

  .heroImageContainer {
    width: 40%;
    display: block;
  }

  .heroContextDiv {
    width: 60%;
  }

  .heroContextDiv h1 {
    font-size: 3rem;
  }

  .heroContextDiv h3 {
    font-size: 1.4rem;
  }

  /* Text Content */

  .textContentWrapper {
    padding: 64px 16px;
  }

  .textContent {
    padding: 64px 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .textContent img {
    width: 100%;
  }

  .textContent h3 {
    font-size: 1.5rem;
  }

  .textContent p {
    font-size: 1.2rem;
  }

  /* Services Section */

  .servicesContainer {
    gap: 30px;
    padding: 32px 16px;
  }

  .servicesContainer h2 {
    font-size: 2rem;
  }

  .servicesGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .serviceCard h3 {
    font-size: 1.4rem;
  }

  .serviceCard p {
    font-size: 1.1rem;
    line-height: 1.65;
  }

  /* Call to Action */

  .callToActionWrapper {
    padding: 64px 16px;
  }

  .callToAction {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .callToActionContext {
    gap: 20px;
  }

  .callToAction h3 {
    font-size: 1.6rem;
  }

  .callToAction p {
    font-size: 1.3rem;
  }
}
